@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #ffffff;
  --logo-color: #6081ab;
  --footer-color: #000f2d;
}

html,
body {
  font-size: 62.5%;
  background-color: var(--bg-color);
}

/*UTILS*/

/*HEADER AND NAVIGATION*/
header {
  padding: 5rem 5rem 0rem 5rem;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-img {
  width: 323px;
  height: 83px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.nav-text {
  font-family: "Overpass", sans-serif;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--logo-color);
}

/* .buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
} */
.hamburger {
  position: relative;
  z-index: 10;
  cursor: pointer;
  width: 20px;
  top: 2px;
  height: 20px;
  background: none;
  border: none;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  height: 2px;
  top: 0;
  left: 0;
  background: #000;
}
.hamburger-top {
  width: 18px;
}
.hamburger-middle {
  transform: translate(0px, 5px);
  width: 18px;
}
.hamburger-bottom {
  transform: translate(0px, 10px);
  width: 18px;
}
