.property-details-container {
  display: flex;
  padding: 0 20px;
  padding-top: 100px;
  gap: 30px;
  margin-bottom: 30px;
}
.property-details-container-side {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.property-details-container-side-images {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.property-details,
.property-review {
  padding: 30px;
}
.property-description {
  margin: 30px 0;
}
.property-description p {
  font-size: 1.25rem;
  font-weight: bold;
}
.property-review-card {
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0 10px;
  box-shadow: 1px 1px 1px lightgray;
  margin-bottom: 20px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.property-review-card:hover {
  background-color: #6081ab;
  color: white;
}
.property-review-card img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.property-review-card p {
  text-align: right;
  width: 70%;
}
.agreement-details-details {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 8px;
}

.agreement-details-check {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
  font-size: 0.9rem;
}

.agreement-details-check-container {
  margin: 20px 0;
}
.property-details-arrow {
  cursor: pointer;
  font-size: 1.2rem;
  color: #6081ab;
  margin: 20px 0;
}
.property-agreement {
  margin-top: 30px;
  box-shadow: 1px 1px 1px lightgray;
  padding: 0px 15px;
}

.property-location img {
  width: 100%;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .property-details-container {
    flex-direction: column;
  }
  .property-location {
    display: none;
  }
  .property-details-container-side {
    width: 100%;
  }
}
